CalendarToNotion.json
{
  "name": "CalendarToNotion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "peerapatsetsuk15@gmail.com",
          "mode": "list",
          "cachedResultName": "peerapatsetsuk15@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        880
      ],
      "id": "c75994a2-ccfb-498b-91f2-4fffa22407c8",
      "name": "Google Calendar Trigger1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jv2nqg4GjWIfNEq0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "peerapatsetsuk15@gmail.com",
          "mode": "list",
          "cachedResultName": "peerapatsetsuk15@gmail.com"
        },
        "triggerOn": "eventCancelled",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        1424
      ],
      "id": "50a3d2c7-5840-4a98-9055-9e5e21dc9069",
      "name": "Google Calendar Trigger2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jv2nqg4GjWIfNEq0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        528
      ],
      "id": "304c41ab-d3bc-4789-8cef-3680627d25a5",
      "name": "Sync event"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE Tasks (\n    google_event_id TEXT PRIMARY KEY,\n    name VARCHAR(255) NOT NULL,\n    start_date DATE NOT NULL,\n    end_date DATE NOT NULL,\n    description TEXT ,\n    link VARCHAR(512),\n    status VARCHAR(50) DEFAULT 'pending' CHECK (status IN ('pending', 'in_progress', 'completed', 'cancelled')),\n    priority SMALLINT DEFAULT 3 CHECK (priority BETWEEN 1 AND 5),\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),\n    CONSTRAINT chk_dates CHECK (end_date >= start_date)\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        -80
      ],
      "id": "d40e1895-1c44-4f48-bf1b-6949005552de",
      "name": "Create Table",
      "credentials": {
        "postgres": {
          "id": "zkblaASutsJqtAnq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    CASE \n        WHEN EXISTS (\n            SELECT 1 \n            FROM information_schema.tables \n            WHERE table_schema = 'public' \n              AND table_name = 'tasks'\n        ) \n        THEN 1 \n        ELSE 0 \n    END AS res;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -800,
        32
      ],
      "id": "7623eb32-3f4f-43f5-aa0c-b7aca53fbec2",
      "name": "Check if table exist",
      "credentials": {
        "postgres": {
          "id": "zkblaASutsJqtAnq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e0952e5-903a-487f-bf0b-c1d71856fc90",
              "leftValue": "={{ $json.res }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        32
      ],
      "id": "77b3c274-cb7c-456c-b3e1-5d759238aecb",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        48
      ],
      "id": "35a5b4cc-3f35-4764-9865-b5be11746ad8",
      "name": "Get Current Tasks",
      "credentials": {
        "postgres": {
          "id": "zkblaASutsJqtAnq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "google_event_id",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        112
      ],
      "id": "b041fe7b-1c5e-46a4-89be-df6a154a7378",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "peerapatsetsuk15@gmail.com",
          "mode": "list",
          "cachedResultName": "peerapatsetsuk15@gmail.com"
        },
        "timeMax": "=",
        "options": {
          "query": "={{$workflow.staticData.lastFetch || '2025-01-01T00:00:00.000Z'}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -544,
        272
      ],
      "id": "0f96d6f3-9e6d-4695-84b2-73910ba659ce",
      "name": "Get many events1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jv2nqg4GjWIfNEq0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "peerapatsetsuk15@gmail.com",
          "mode": "list",
          "cachedResultName": "peerapatsetsuk15@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        368
      ],
      "id": "07d93d33-e17d-45e7-909c-6e38bc721bbd",
      "name": "Event Created",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "jv2nqg4GjWIfNEq0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "priority": "={{ $json.priority }}",
            "google_event_id": "={{ $json.google_event_id }}",
            "name": "={{ $json.name }}",
            "start_date": "={{ new Date($json.start_date).toISOString() }}",
            "end_date": "={{ new Date($json.end_date).toISOString() }}",
            "description": "={{ $json.description || \"\"}}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}",
            "link": "={{ $json.link }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        368
      ],
      "id": "bdabfba5-f02c-4a41-a279-df5438cdc4a4",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "zkblaASutsJqtAnq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "priority": "={{ $json.priority }}",
            "google_event_id": "={{ $json.google_event_id }}",
            "name": "={{ $json.name }}",
            "start_date": "={{ new Date($json.start_date).toISOString() }}",
            "end_date": "={{ new Date($json.end_date).toISOString() }}",
            "description": "={{ $json.description || \"\"}}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}",
            "status": "={{ $json.status }}",
            "link": "={{ $json.link }}"
          },
          "matchingColumns": [
            "google_event_id"
          ],
          "schema": [
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        752
      ],
      "id": "302be2de-66ea-49c8-b517-3bd65ba3df12",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "zkblaASutsJqtAnq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "google_event_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        1376
      ],
      "id": "3ad0041d-f875-43a3-b9e2-edc00bb1ce1d",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "zkblaASutsJqtAnq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "deleteCommand": "delete",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -976,
        304
      ],
      "id": "900877f7-21f7-4410-9f60-a1d307d5fa6e",
      "name": "Clear All Data",
      "credentials": {
        "postgres": {
          "id": "zkblaASutsJqtAnq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "038ade9f-69db-4acd-9c9e-08ca057ece18",
              "name": "google_event_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "251be338-8439-40e7-b7c4-f216f3efb0da",
              "name": "name",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "e0c97d44-48a9-4caa-a3e4-00f6cd2897ea",
              "name": "start_date",
              "value": "={{ $json.start.date }}",
              "type": "string"
            },
            {
              "id": "4ab15218-95c3-480c-9384-33febecbc90d",
              "name": "end_date",
              "value": "={{ $json.end.date }}",
              "type": "string"
            },
            {
              "id": "db80817d-d241-4a76-9fb7-1436082e1b60",
              "name": "description",
              "value": "={{ $json.description || \"\"}}",
              "type": "string"
            },
            {
              "id": "ecdc96f0-858f-489e-b80c-2550400c08bc",
              "name": "link",
              "value": "={{ $json.hangoutLink || \"\"}}",
              "type": "string"
            },
            {
              "id": "6003365f-7395-4d65-980b-4e3a04b321cf",
              "name": "status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "54b0300d-8577-4ea3-8b1c-72a6a3601dac",
              "name": "priority",
              "value": "3",
              "type": "string"
            },
            {
              "id": "6a74e645-1a72-4d58-8b5c-b2f645effd11",
              "name": "created_at",
              "value": "={{ $json.created }}",
              "type": "string"
            },
            {
              "id": "c60780a9-80c3-4684-ab26-140bacb0f763",
              "name": "updated_at",
              "value": "={{ $json.updated }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        272
      ],
      "id": "7a1e31ea-d67b-4605-90ab-7924a1517407",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "priority": "={{ $json.priority }}",
            "google_event_id": "={{ $json.google_event_id }}",
            "name": "={{ $json.name }}",
            "start_date": "={{ $json.start_date }}",
            "end_date": "={{ $json.end_date }}",
            "description": "={{ $json.description || \"\"}}",
            "created_at": "={{ $json.created_at }}",
            "updated_at": "={{ $json.updated_at }}",
            "status": "={{ $json.status }}",
            "link": "={{ $json.link || \"\" }}"
          },
          "matchingColumns": [
            "google_event_id"
          ],
          "schema": [
            {
              "id": "google_event_id",
              "displayName": "google_event_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        112
      ],
      "id": "96ca9005-5812-43dc-a01c-b1a57f9a1bab",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "zkblaASutsJqtAnq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "290a5ca4-62ef-80a5-a851-f3b6b3fe25c8",
          "mode": "list",
          "cachedResultName": "Calendar",
          "cachedResultUrl": "https://www.notion.so/290a5ca462ef80a5a851f3b6b3fe25c8"
        },
        "title": "={{ $json.name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "data_id|rich_text",
              "textContent": "={{ $json.google_event_id }}"
            },
            {
              "key": "Date|date",
              "range": true,
              "dateStart": "={{ $json.start_date }}",
              "dateEnd": "={{ $json.end_date }}",
              "timezone": "Asia/Bangkok"
            },
            {
              "key": "Description|rich_text",
              "textContent": "={{ $json.description || \"\"}}"
            },
            {
              "key": "Name|title",
              "title": "={{ $json.name }}"
            },
            {
              "key": "priority|rich_text",
              "textContent": "={{ $json.priority.toString() }}"
            },
            {
              "key": "Status|status",
              "statusValue": "={{ $json.status }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1232,
        240
      ],
      "id": "436adec9-fd64-49d0-9dcd-1d0cd6e0e1e7",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "Lmzxv9I7SbCMv9e4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "290a5ca4-62ef-80a5-a851-f3b6b3fe25c8",
          "mode": "list",
          "cachedResultName": "Calendar",
          "cachedResultUrl": "https://www.notion.so/290a5ca462ef80a5a851f3b6b3fe25c8"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        640,
        528
      ],
      "id": "e1ad0f29-f939-4a9e-ae7b-7d5f75f0526b",
      "name": "Get many database pages1",
      "credentials": {
        "notionApi": {
          "id": "Lmzxv9I7SbCMv9e4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        384
      ],
      "id": "bb4bc9ae-ef42-41e2-89d2-deecb2c20a23",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "zkblaASutsJqtAnq",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "google_event_id",
              "field2": "property_data_id"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        400
      ],
      "id": "85841d0f-e785-4232-aa50-4f292bc17821",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "google_event_id",
              "field2": "google_event_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        256
      ],
      "id": "b2794a5f-5222-4183-8361-68208684f15d",
      "name": "progres_google-change"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "038ade9f-69db-4acd-9c9e-08ca057ece18",
              "name": "google_event_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "251be338-8439-40e7-b7c4-f216f3efb0da",
              "name": "name",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "e0c97d44-48a9-4caa-a3e4-00f6cd2897ea",
              "name": "start_date",
              "value": "={{ $json.start.date }}",
              "type": "string"
            },
            {
              "id": "4ab15218-95c3-480c-9384-33febecbc90d",
              "name": "end_date",
              "value": "={{ $json.end.date }}",
              "type": "string"
            },
            {
              "id": "db80817d-d241-4a76-9fb7-1436082e1b60",
              "name": "description",
              "value": "={{ $json.description || \"\"}}",
              "type": "string"
            },
            {
              "id": "ecdc96f0-858f-489e-b80c-2550400c08bc",
              "name": "link",
              "value": "={{ $json.hangoutLink || \"\"}}",
              "type": "string"
            },
            {
              "id": "6003365f-7395-4d65-980b-4e3a04b321cf",
              "name": "status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "54b0300d-8577-4ea3-8b1c-72a6a3601dac",
              "name": "priority",
              "value": "3",
              "type": "string"
            },
            {
              "id": "6a74e645-1a72-4d58-8b5c-b2f645effd11",
              "name": "created_at",
              "value": "={{ $json.created }}",
              "type": "string"
            },
            {
              "id": "c60780a9-80c3-4684-ab26-140bacb0f763",
              "name": "updated_at",
              "value": "={{ $json.updated }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        368
      ],
      "id": "086ff6eb-d379-4bfa-bbed-27cfbf83e035",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "290a5ca4-62ef-80a5-a851-f3b6b3fe25c8",
          "mode": "list",
          "cachedResultName": "Calendar",
          "cachedResultUrl": "https://www.notion.so/290a5ca462ef80a5a851f3b6b3fe25c8"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1168,
        1056
      ],
      "id": "adf477c7-c6c7-4e96-9366-fc4472b695ff",
      "name": "Get many database pages",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "Lmzxv9I7SbCMv9e4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "939b539a-5b36-4034-8ecb-4da769dd4196",
              "leftValue": "={{ $json.property_data_id }}",
              "rightValue": "={{ $('Extract Information-Updated').item.json.google_event_id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -736,
        1056
      ],
      "id": "b9db0d4e-1ca1-4c03-b3ef-f0e902879bed",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date|date",
              "range": true,
              "dateStart": "={{ $('Extract Information-Updated').item.json.start_date }}",
              "dateEnd": "={{ $('Extract Information-Updated').item.json.end_date }}",
              "timezone": "Asia/Bangkok"
            },
            {
              "key": "Description|rich_text",
              "textContent": "={{ $('Extract Information-Updated').item.json.link }}"
            },
            {
              "key": "Name|title",
              "title": "={{ $('Extract Information-Updated').item.json.name }}"
            },
            {
              "key": "priority|rich_text",
              "textContent": "={{ $('Extract Information-Updated').item.json.priority }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -416,
        896
      ],
      "id": "2f530ead-ad40-478d-9c1a-6bf9a53f0b2a",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "Lmzxv9I7SbCMv9e4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/tesdasdaczxcxz-293a5ca462ef81a6bb0cec19cf7ceb6f",
          "mode": "url"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        80,
        592
      ],
      "id": "066da57d-699d-4446-9a03-f493cd021c69",
      "name": "Get a database page",
      "credentials": {
        "notionApi": {
          "id": "Lmzxv9I7SbCMv9e4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        528
      ],
      "id": "8b429a40-e6ae-4698-9794-418ffa0a2baf",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "290a5ca4-62ef-80a5-a851-f3b6b3fe25c8",
          "mode": "list",
          "cachedResultName": "Calendar",
          "cachedResultUrl": "https://www.notion.so/290a5ca462ef80a5a851f3b6b3fe25c8"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1120,
        1600
      ],
      "id": "b0b9ba6b-0d59-4d0e-9d39-1f0f03c9f9a0",
      "name": "Get many database pages2",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "Lmzxv9I7SbCMv9e4",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "939b539a-5b36-4034-8ecb-4da769dd4196",
              "leftValue": "={{ $json.property_data_id }}",
              "rightValue": "={{ $('Extract Information-Deleted').item.json.google_event_id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -848,
        1600
      ],
      "id": "23357f99-3c7b-488a-8f8b-eddb504d1001",
      "name": "Filter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "038ade9f-69db-4acd-9c9e-08ca057ece18",
              "name": "google_event_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "251be338-8439-40e7-b7c4-f216f3efb0da",
              "name": "name",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "e0c97d44-48a9-4caa-a3e4-00f6cd2897ea",
              "name": "start_date",
              "value": "={{ $json.start.date }}",
              "type": "string"
            },
            {
              "id": "4ab15218-95c3-480c-9384-33febecbc90d",
              "name": "end_date",
              "value": "={{ $json.end.date }}",
              "type": "string"
            },
            {
              "id": "db80817d-d241-4a76-9fb7-1436082e1b60",
              "name": "description",
              "value": "={{ $json.description || \"\"}}",
              "type": "string"
            },
            {
              "id": "ecdc96f0-858f-489e-b80c-2550400c08bc",
              "name": "link",
              "value": "={{ $json.hangoutLink || \"\"}}",
              "type": "string"
            },
            {
              "id": "6003365f-7395-4d65-980b-4e3a04b321cf",
              "name": "status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "54b0300d-8577-4ea3-8b1c-72a6a3601dac",
              "name": "priority",
              "value": "3",
              "type": "string"
            },
            {
              "id": "6a74e645-1a72-4d58-8b5c-b2f645effd11",
              "name": "created_at",
              "value": "={{ $json.created }}",
              "type": "string"
            },
            {
              "id": "c60780a9-80c3-4684-ab26-140bacb0f763",
              "name": "updated_at",
              "value": "={{ $json.updated }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        880
      ],
      "id": "bd71b7e2-af68-4773-82fc-0b179fd3f4eb",
      "name": "Extract Information-Updated"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "038ade9f-69db-4acd-9c9e-08ca057ece18",
              "name": "google_event_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "251be338-8439-40e7-b7c4-f216f3efb0da",
              "name": "name",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "e0c97d44-48a9-4caa-a3e4-00f6cd2897ea",
              "name": "start_date",
              "value": "={{ $json.start.date }}",
              "type": "string"
            },
            {
              "id": "4ab15218-95c3-480c-9384-33febecbc90d",
              "name": "end_date",
              "value": "={{ $json.end.date }}",
              "type": "string"
            },
            {
              "id": "db80817d-d241-4a76-9fb7-1436082e1b60",
              "name": "description",
              "value": "={{ $json.description || \"\"}}",
              "type": "string"
            },
            {
              "id": "ecdc96f0-858f-489e-b80c-2550400c08bc",
              "name": "link",
              "value": "={{ $json.hangoutLink || \"\"}}",
              "type": "string"
            },
            {
              "id": "6003365f-7395-4d65-980b-4e3a04b321cf",
              "name": "status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "54b0300d-8577-4ea3-8b1c-72a6a3601dac",
              "name": "priority",
              "value": "3",
              "type": "string"
            },
            {
              "id": "6a74e645-1a72-4d58-8b5c-b2f645effd11",
              "name": "created_at",
              "value": "={{ $json.created }}",
              "type": "string"
            },
            {
              "id": "c60780a9-80c3-4684-ab26-140bacb0f763",
              "name": "updated_at",
              "value": "={{ $json.updated }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        1424
      ],
      "id": "6d2ddecb-c80e-4696-9246-8fdb0c9f2071",
      "name": "Extract Information-Deleted"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date|date",
              "range": true,
              "dateStart": "={{ $('Extract Information-Updated').item.json.start_date }}",
              "dateEnd": "={{ $('Extract Information-Updated').item.json.end_date }}",
              "timezone": "Asia/Bangkok"
            },
            {
              "key": "Description|rich_text",
              "textContent": "={{ $('Extract Information-Updated').item.json.link }}"
            },
            {
              "key": "Name|title",
              "title": "={{ $('Extract Information-Updated').item.json.name }}"
            },
            {
              "key": "priority|rich_text",
              "textContent": "={{ $('Extract Information-Updated').item.json.priority }}"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -448,
        1488
      ],
      "id": "35b41bf7-495c-4a3a-8e48-54b1e42ccfea",
      "name": "Update a database page1",
      "credentials": {
        "notionApi": {
          "id": "Lmzxv9I7SbCMv9e4",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {
    "Edit Fields2": [
      {
        "json": {
          "kind": "calendar#event",
          "etag": "\"3522112418571134\"",
          "id": "52qf5ebfdb68kq6cvnled64k93",
          "status": "confirmed",
          "htmlLink": "https://www.google.com/calendar/event?eid=NTJxZjVlYmZkYjY4a3E2Y3ZubGVkNjRrOTMgcGVlcmFwYXRzZXRzdWsxNUBt",
          "created": "2025-10-21T13:50:58.000Z",
          "updated": "2025-10-21T14:16:49.285Z",
          "summary": "asdadasdad",
          "creator": {
            "email": "peerapatsetsuk15@gmail.com",
            "self": true
          },
          "organizer": {
            "email": "peerapatsetsuk15@gmail.com",
            "self": true
          },
          "start": {
            "date": "2025-10-27"
          },
          "end": {
            "date": "2025-10-28"
          },
          "transparency": "transparent",
          "iCalUID": "52qf5ebfdb68kq6cvnled64k93@google.com",
          "sequence": 0,
          "reminders": {
            "useDefault": false,
            "overrides": [
              {
                "method": "popup",
                "minutes": 420
              }
            ]
          },
          "eventType": "default"
        }
      }
    ]
  },
  "connections": {
    "Sync event": {
      "main": [
        []
      ]
    },
    "Create Table": {
      "main": [
        [
          {
            "node": "Get Current Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if table exist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Current Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger1": {
      "main": [
        [
          {
            "node": "Extract Information-Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Created": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger2": {
      "main": [
        [
          {
            "node": "Extract Information-Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many database pages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "progres_google-change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "progres_google-change",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "progres_google-change": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many database pages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        []
      ]
    },
    "Delete table or rows": {
      "main": [
        []
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        []
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "Get a database page": {
      "main": [
        []
      ]
    },
    "Get many database pages2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information-Updated": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Information-Deleted": {
      "main": [
        [
          {
            "node": "Get many database pages2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c83c7033-c566-47e8-8295-3dbe9249e8d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d03ddccf1ec80a3f1ac92e7a5839ebd48e3fabade8b14a98063b7ce2a8ac15c"
  },
  "id": "aBCTi6IzkMbXCJZd",
  "tags": []
}